[**KRITIK AGARWAL 19BBTCS067**](https://github.com/Kritik007)

***DAP Lab Exp.No.1***

Python Data Structures: Develop an application that uses different python data structures

## 1. Dictionaries

In [ ]:
# Creating a Dictionary
# Empty Dict can be created using 
Roles = {}
# Dictionary with Elements can be created using
Roles = {"Owner":1, "Admin":2, "Manager":3, "Moderator":4}
print(Roles)

{'Owner': 1, 'Admin': 2, 'Manager': 3, 'Moderator': 4}

In [ ]:
#Displaying Keys
Roles.keys()

dict_keys(['Owner', 'Admin', 'Manager', 'Moderator'])

In [ ]:
#Displaying Values
Roles.values()

dict_values([1, 2, 3, 4])

In [ ]:
#Displaying Dictionary Items
Roles.items()

dict_items([('Owner', 1), ('Admin', 2), ('Manager', 3), ('Moderator', 4)])

In [ ]:
#Updating Values using Key
Roles['Moderator'] = 5
print(Roles)

{'Owner': 1, 'Admin': 2, 'Manager': 3, 'Moderator': 5}

In [ ]:
#Updating Values using update() function
Roles.update({'Moderator':4})
print(Roles)

{'Owner': 1, 'Admin': 2, 'Manager': 3, 'Moderator': 4}

In [ ]:
#Deleting an item from Dict
del Roles['Manager'] # Or We May use Roles.pop('Manager')
print(Roles)

{'Owner': 1, 'Admin': 2, 'Moderator': 4}

In [ ]:
#Empyting entire items in the dictionary using clear()
Roles.clear()
print(Roles)

{}

## 2. Lists

In [ ]:
#Creatung Lists
# empty list
my_list = []
print(my_list)

# list of integers
my_list = [1, 2, 3]
print(my_list)

# list with mixed data types
my_list = [1, "Hello", 3.4]
print(my_list)

# nested list
my_list = ["mouse", [8, 4, 6], ['a']]
print(my_list)

[]
[1, 2, 3]
[1, 'Hello', 3.4]
['mouse', [8, 4, 6], ['a']]

In [ ]:
my_list = ['p', 'r', 'o', 'b', 'e']

# first item
print(my_list[0])

# third item
print(my_list[2])

# fifth item
print(my_list[4])

# Nested List
n_list = ["Happy", [2, 0, 1, 5]]

# Nested indexing
print(n_list[0][1])

print(n_list[1][3])

p
o
e
a
5

In [ ]:
# Negative indexing in lists
my_list = ['p','r','o','b','e']

# last item
print(my_list[-1])

# fifth last item
print(my_list[-5])

e
p

In [ ]:
# Correcting mistake values in a list
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
# Concatenating and repeating lists
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [ ]:
# Demonstration of list insert() method
odd = [1, 9]
odd.insert(1,3)

print(odd)

odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [ ]:
# Deleting list items
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

# delete one item
del my_list[2]

print(my_list)

# delete multiple items
del my_list[1:5]

print(my_list)

# delete the entire list
del my_list

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

In [ ]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'o'
print(my_list.pop(1))

# Output: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output: 'm'
print(my_list.pop())

# Output: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

# Output: []
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

## 3. Sets

In [ ]:
# Creating Sets
# set of integers
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [ ]:
# set cannot have duplicates
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

# we can make set from a list
my_set = set([1, 2, 3, 2])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3}

In [ ]:
# Distinguish set and dictionary while creating empty set

# initialize a with {}
a = {}

# check data type of a
print(type(a))

# initialize a with set()
a = set()

# check data type of a
print(type(a))

<class 'dict'>
<class 'set'>

In [ ]:
# initialize my_set
my_set = {1, 3}
print(my_set)

# add an element
my_set.add(2)
print(my_set)

# add multiple elements
my_set.update([2, 3, 4])
print(my_set)

# add list and set
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [ ]:
# Difference between discard() and remove()

# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
# Output: {1, 3, 5, 6}
my_set.discard(4)
print(my_set)

# remove an element
# Output: {1, 3, 5}
my_set.remove(6)
print(my_set)

# discard an element
# not present in my_set
# Output: {1, 3, 5}
my_set.discard(2)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [ ]:
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop an element
# Output: random element
print(my_set.pop())

# pop another element
my_set.pop()
print(my_set)

# clear my_set
# Output: set()
my_set.clear()
print(my_set)

{'d', 'H', 'l', 'r', 'W', 'e', 'o'}
d
{'l', 'r', 'W', 'e', 'o'}
set()

In [ ]:
# Set union method
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Intersection of sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [ ]:
# Difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

In [ ]:
# Symmetric difference of two sets
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use ^ operator
# Output: {1, 2, 3, 6, 7, 8}
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [ ]:
# in keyword in a set
# initialize my_set
my_set = set("apple")

# check if 'a' is present
# Output: True
print('a' in my_set)

# check if 'p' is present
# Output: False
print('p' not in my_set)

True
False

## 4. Tuples

In [ ]:
# Creating Tuples
# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple1 = (1, 2, 3)
print(my_tuple1)

# tuple with mixed datatypes
my_tuple2 = (1, "Hello", 3.4)
print(my_tuple2)

# nested tuple
my_tuple3 = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple3)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
# Tuple Packing (A tuple can also be created without using parentheses.)
my_tuple4 = 3, 4.6, "dog"
print(my_tuple4)

#Tuple Unpacking
a, b, c = my_tuple4
print("")
print(a)
print(b)
print(c)

(3, 4.6, 'dog')

3
4.6
dog

In [ ]:
my_tuple = ("hello")
print(type(my_tuple))

# Creating a tuple having one element
my_tuple = ("hello",)
print(type(my_tuple))

# Parentheses is optional
my_tuple = "hello",
print(type(my_tuple))

<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# Accessing tuple elements using indexing
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])
print(my_tuple[5])

# nested tuple
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(n_tuple[0][3])
print(n_tuple[1][1])

p
t
s
4

In [ ]:
# Negative indexing for accessing tuple elements
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')

print(my_tuple[-1])
print(my_tuple[-6])

t
p

In [ ]:
#Deleting Tuple
del my_tuple
print(my_tuple)

NameError: ignored

In [ ]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))
print(my_tuple.index('l'))

In [ ]:
# Membership test in tuple
my_tuple = ('a', 'p', 'p', 'l', 'e',)

# In operation
print('a' in my_tuple)
print('b' in my_tuple)

# Not in operation
print('g' not in my_tuple)