[**KRITIK AGARWAL 19BBTCS067**](https://github.com/Kritik007)

***DAP Lab Exp.No.5***

Demonstrate the usage of pandas library

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
obj = pd.Series([4, 7, -5, 3])

In [3]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [4]:
data = {'state': ['Assam', 'Assam', 'Assam', 'Delhi', 'Delhi', 'Delhi'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
frame

   state  year  pop
0  Assam  2000  1.5
1  Assam  2001  1.7
2  Assam  2002  3.6
3  Delhi  2001  2.4
4  Delhi  2002  2.9
5  Delhi  2003  3.2

In [5]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [6]:
index[1:]

Index(['b', 'c'], dtype='object')

In [7]:
labels = pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [8]:
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [9]:
obj2.index is labels

True

In [10]:
frame

   state  year  pop
0  Assam  2000  1.5
1  Assam  2001  1.7
2  Assam  2002  3.6
3  Delhi  2001  2.4
4  Delhi  2002  2.9
5  Delhi  2003  3.2

In [11]:
frame.columns

Index(['state', 'year', 'pop'], dtype='object')

In [12]:
'Assam' in frame.columns

False

In [13]:
2003 in frame.index

False

In [14]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])

In [15]:
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')

In [16]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d','b', 'a', 'c'])

In [17]:
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [18]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])

In [19]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [20]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [21]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [22]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),index=['a', 'c', 'd'],columns=['Assam', 'Kolkata', 'Bengaluru'])

In [23]:
frame

   Assam  Kolkata  Bengaluru
a      0        1          2
c      3        4          5
d      6        7          8

In [24]:
frame2 = frame.reindex(['a', 'b', 'c', 'd'])
frame2

   Assam  Kolkata  Bengaluru
a    0.0      1.0        2.0
b    NaN      NaN        NaN
c    3.0      4.0        5.0
d    6.0      7.0        8.0

In [25]:
states = ['Kolkata', 'Goa', 'Bengaluru']

In [26]:
frame.reindex(columns=states)

   Kolkata  Goa  Bengaluru
a        1  NaN          2
c        4  NaN          5
d        7  NaN          8

Dropping Entries from an Axis

In [27]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])

In [28]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [29]:
new_obj = obj.drop('c')

In [30]:
new_obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [31]:
obj.drop(['d', 'c'])

a    0.0
b    1.0
e    4.0
dtype: float64

In [32]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)), index=['Ohio', 'Colorado', 'Utah', 'New York'], columns=['one', 'two', 'three', 'four'])

In [33]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [34]:
data.drop(['Colorado', 'Ohio'])

          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15

In [35]:
data.drop('two', axis=1)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15

In [36]:
data.drop(['two', 'four'], axis='columns')

          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

In [37]:
obj.drop('c', inplace=True)

In [38]:
obj

a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

Indexing, Selection, and Filtering

In [39]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [40]:
obj['b']

1.0

In [41]:
obj[1]

1.0

In [42]:
obj[2:4]

c    2.0
d    3.0
dtype: float64

In [43]:
obj[['b', 'a', 'd']]

b    1.0
a    0.0
d    3.0
dtype: float64

In [44]:
obj[[1, 3]]

b    1.0
d    3.0
dtype: float64

In [45]:
obj[obj < 2]

a    0.0
b    1.0
dtype: float64

In [46]:
obj['b':'c']

b    1.0
c    2.0
dtype: float64

In [47]:
obj['b':'c'] = 5

In [48]:
obj

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

In [49]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)), index=['Ohio', 'Colorado', 'Utah', 'New York'], columns=['one', 'two', 'three', 'four'])

In [50]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [51]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int64

In [52]:
data[['three', 'one']]

          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12

In [53]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [54]:
data[data['three'] > 5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [55]:
data < 5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [56]:
data[data < 5] = 0
data

          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [57]:
data.loc['Colorado', ['two', 'three']]

two      5
three    6
Name: Colorado, dtype: int64

In [58]:
data.iloc[2, [3, 0, 1]]

four    11
one      8
two      9
Name: Utah, dtype: int64

In [59]:
data.iloc[:, :3][data.three > 5]

          one  two  three
Colorado    0    5      6
Utah        8    9     10
New York   12   13     14

In [60]:
data.loc[:'Utah', 'two']

Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int64

In [61]:
data.iloc[2]

one       8
two       9
three    10
four     11
Name: Utah, dtype: int64

In [62]:
data.iloc[[1, 2], [3, 0, 1]]

          four  one  two
Colorado     7    0    5
Utah        11    8    9

Integer Indexes

In [63]:
ser = pd.Series(np.arange(3.))

In [64]:
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [65]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])

In [66]:
ser2[-1]

2.0

In [67]:
ser[:1]

0    0.0
dtype: float64

In [68]:
ser.loc[:1]

0    0.0
1    1.0
dtype: float64

In [69]:
ser.iloc[:1]

0    0.0
dtype: float64